* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  } 
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
.div_user_hud{
    flex: 1;
    width: 80%;
    height: 100vh;
    background-color: #EFEFEF; /* Cor de fundo */
    color: #EFEFEF;
    padding: 20px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    }

.logo_modular{
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right:auto;
    width: 75%;
    }
.input_email{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right:auto;
    width: 75%;
    border-radius: 10px;
    padding: 12px;
    border: solid #8BC441;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #052631; /* Define cor do texto */
    background: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
    }
.input_name{
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right:auto;
    width: 75%;
    border-radius: 10px;
    padding: 12px;
    border: solid #8BC441;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #052631; /* Define cor do texto */
    background: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
    }
.botão_continuar{
    cursor: pointer;
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right:auto;
    width: 25%;
    border-radius: 10px;
    padding: 2%;
    border: solid #8BC441;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #052631; /* Define cor do texto */
    background: none;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}
.botão_continuar:hover{
    background-color: #8BC441;
    color: white; /* Define cor do texto */
}
.container_img {
    flex: 1;
    background-image: url("img/img_login.png");
    background-size: cover;
    background-position: center;
    background-color: #052631a1; /*  */
    background-blend-mode: multiply; /* Mistura a cor com a imagem */
    display: flex; 
    justify-content: center;
    text-align: center; /*Alinha o texto ao centro*/
}

.texto {
    margin-top: 25%;
    color: white; /* Define cor do texto */
    font-size: 96px;
    font-family: 'Poppins', sans-serif;
    font-weight: 150; /*Modelo da fonte*/
}
.o {
    color: white; /* Define cor do texto */
    font-size: 96px; /*Tamanho da fonte*/
    font-family: 'Poppins', sans-serif; /*Define a fonte*/
    font-weight: 600; /*Modelo da fonte*/
}