
/* Container para os botões */
.container_botao {

    display: flex;
    gap: 25px;
    justify-content: center;
    width: 60%;
    max-width: 250px;
}
    /* 🔹 Estilo do botão */
    .botão_continuar {
        width: auto; /* Para manter responsivo */
        max-width:60%; /* Ajuste conforme necessário */
        cursor: pointer;
        padding: 6px 10px;
        border-radius: 10px;
        border: solid #8BC441;
        font-size: 14px;
        font-weight: bold;
        color: #052631;
        background: none;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
}
        /* 🔹 Efeito hover (botão) */
        .botão_continuar:hover {
            background-color: #8BC441;
            color: white;
}